
:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

sup{
  z-index: 100;
}
#dica{
  z-index: 100;

}


body{
  background-image: url('../public/bg.jpg');
  background-position: fixed; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 20px;
}
h2{
  font-size: 20px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;


}
.grade{
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff73;
  backdrop-filter: blur(8px);
  border-radius: 30px;
  width: 400px;
  height: 450px;
  padding-top: 0;
  border: 1px solid #ffffff3d;
}
.body-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 400px;
  padding:30px;
  
}
.header{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: 0;
  width: 400px;
  background-color: #35353573;

  backdrop-filter: blur(8px);

}
.header img{
  border-radius: 1000px;
  padding: 0;
  width: 100px;
height: 100px;

   
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label{
  font-weight: 500;
}
         
.btn-grad {
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.connection-title{
  font-weight: 800;
  text-align: center;
}


.radio-icons-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;

}

.conection-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px ;
  background-color: #ffffff4f;
  border-radius: 10px;
  cursor: pointer;
}
.conection-option:hover{
  background-image: linear-gradient(to right, #c213008f 0%rgba(255, 196, 0, 0.534)00  51%, #c2130096  100%);
  color: #fff;
  text-decoration: none;
}


         







.connect-icon{
  font-size: 30px;
}


         







.selected-web{
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.selected-ssh{
  background-image: linear-gradient(to right, #304352 0%, #d7d2cc  51%, #304352  100%);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  }
.selected-vnc{
  background-image: linear-gradient(to right, #0392ff 0%, #d7d2cc  51%, #0091ff  100%);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  }

.selected-rdp{
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  }




.button-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap:30px;
  
  
}
.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #cccccc4f;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.671);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}




.login-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.login-inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.login-title{
  font-weight: 800;
  text-align: center;
  width: 70%;
}
         
button{
  cursor: pointer;
}

.btn-conectado {
  background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-conectado:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-desconectado {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-desconectado:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


         
.configurar {
  background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.configurar:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




         
.login {
  background-image: linear-gradient(to right, #00bf8f 0%, #001510  51%, #00bf8f  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.login:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.logoff {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.logoff:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.connect-intro{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  height: 100%;

}
.connect-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}


.title{
  font-weight: 800;
  text-align: center;
  width: 70%;
  padding:0 ;
}

.connect-wifi-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.response-wifi{
  
  text-align: center;
  width: 100%;
}
.response-wifi h1, h3{
  font-weight: 800;
}

.exibir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ocultar {
  display: none;
}

/* 
Wifi

*/
/* Seu arquivo de estilo (ajustado) */
.popup-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Certifique-se de que o popup esteja acima de outros elementos */
}

.popup-content {
  max-width: 400px; /* Ajuste o tamanho do conteúdo conforme necessário */
  background: #fff; /* Cor de fundo do conteúdo */
  padding: 20px;
  border-radius: 8px;
}





.wifi-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 250px; 
  overflow-y: auto;
width: 450px;
 border-radius: 30px;
 background: #e8e8e800;
 border-radius: 30px;

 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  padding: 5px;
  scrollbar-width: none;
}

         
.wifi-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 250px; 
  overflow-y: auto;
width: 450px;
 border-radius: 30px;
 background: #e8e8e800;
 border-radius: 30px;

 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  padding: 5px;
  scrollbar-width: none;
}

.form-rdp-none{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 250px; 
  overflow-y: auto;
height: 200px;
 border-radius: 30px;
 background: #e8e8e800;
 border-radius: 30px;
 gap:10px;

 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  padding: 5px;
  scrollbar-width: none;
}



.wifi-card {
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 100px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}


.wifi-card:hover {
  border-image: linear-gradient(to right, rgb(255, 187, 0), rgb(255, 100, 10)63, 50) 1;

  transform: scale(1.05);
}

.wifi-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.ssid-wrapper{
width: 100%;
}
.wifi-icon-wrapper{
  max-width: 50px;
  max-height: 50px;
  z-index: 100;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  padding: 10px;

}

.connect-wifi-btn {
  background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}



.connect-wifi-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.select-wifi-btn {
  background-image: linear-gradient(to right, #ab982f 0%, #e0d863  51%, #a3ab2f  100%);
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}



.select-wifi-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.remote-btn {
  background-image: linear-gradient(to right, #56ab2f 0%, #a8e063  51%, #56ab2f  100%);  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}



.remote-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}







.connect-wifi svg{
  font-size: 20px;
}
.connect-password-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.input-password-group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;

  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #cccccc49;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}



.input-password {
  width: 100%;
  height: 20px;
  line-height: 30px;
  padding: 0 1rem;
  padding-left: 3rem;
  border: 0px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #cccccc00;

}

.input-password-group::placeholder {
  color: #94a3b857;
}

.input-password-group:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.274);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;

}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
.connect-wifi {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  margin: 10px;
  padding: 35px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.connect-wifi svg{
  font-size: 30px;
}


         

.connect-wifi:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.connect-cable {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
  margin: 10px;
  padding: 35px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.connect-cable svg{
  font-size: 30px;
}

         





.connect-cable:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}



/*
Dicas
*/
.tips {
  font-size: 16px;
}

.tips:hover {
  color: blue;
}

.tip-box {
  display: none;
  color: #fff;
  background-color: red;
  width: 13%;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  top: -100px;
  left: 60%;
}
.wrap-division{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 3em;
  padding: 30px;
}
.division{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 20em;
  padding: 0;

  
}
.division-control{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 20em;
  padding: 0;

  
}


         
.reload-btn {
  background-image: linear-gradient(to right, #C02425 0%, #F0CB35  51%, #C02425  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.reload-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.img-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.img-wrapper img{
  width: 40px;
}

.gif{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}
.git img{
  width: 30px
}


.arrow{
  margin: 10px;
}
.wifi-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

         
.disconnect-btn {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.disconnect-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




.connection-settings{
  background-image: linear-gradient(to right, #0392ff 0%, #d7d2cc  51%, #0091ff  100%);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}




div.controls {
  z-index: 1;
  width: 80px;
  border-radius:30px;
  background-color: #3535355b;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-control{
  width: 50px;
  padding: 15px 10px;
}







.voltar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.btn-voltar{
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  margin: 10px;
  width: 50px;
  padding: 15px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn-voltar:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}